<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto pb-4 form-card">
                <h3 class="login-heading mb-4">Bentornato</h3>

                <form #loginForm="ngForm" (ngSubmit)="login()">
                     <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="username" placeholder="Inserisci username" name="username" required>
                    </mat-form-field>
                 
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [(ngModel)]="password" placeholder="Inserisci password" name="password" required>
                    </mat-form-field>
                  
  
                  <div class="d-grid">
                    <button mat-raised-button color="primary" type="submit" aria-label="Login" [disabled]="!loginForm.form.valid">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

