/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('https://e7.pngegg.com/pngimages/673/983/png-transparent-abstract-background-with-3d-cubes-pattern.png');
 }
